header {
    background-color: #001219;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    height: 100px;
}

.logo h1 {
    cursor: pointer;
    font-family: Heebo;
    font-weight: 700;
    color: #29ebaa;
}

.btn-create button {
    font-size: 1.2rem;
    font-family: Heebo;
    font-weight: 700;
    border: none;
    background-color: #447ce2;
    color: #ffffff;
    padding: 9px 19px;
    border-radius: 9px;
    cursor: pointer;
}

.btn-create button:hover {
    transition: 0.3s;
    background-color: #538af0;
}

h3 {
    cursor: pointer;
    font-family: Heebo;
    font-weight: 700;
    color: #29ebaa;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .conteudo {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .btn-create {
        flex-direction: column;
    }

    .conteudo {
        width: 100%;
    }

}